.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
.main{
    width: 350px;
    height: 480px;
    background: #fbd44a;
    background: linear-gradient(90deg,#fbd44a,#f1852b);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 30px 50px black;
}
#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #000;
    font-size: 35px;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-bottom: 10px;
}
input{
    width: 70%;
    height: 20px;
    background: white;
    justify-content: center;
    display: flex;
    margin: 18px auto;
    padding: 10px;
    border: 10px ;
    outline: none;
    border-radius: 50px;
    color: #000;

}

.select{
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 50%;
right: 90px;



}
.select ,p{
    color: #000;
}
select{
outline: none;
border: none;

}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #000;
    background: rgba(43,83,194);
    font-size: 20px;
    font-weight:bold;
    margin-top: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: .3s ease-in;
    cursor: pointer;
    box-shadow: 5px 20px 40px black;
}
button:hover{
    background: rgba(20,57,105);
} 